@charset 'UTF-8';

:root {
    --corPrincipal: #8d6c4d;
    --textoBranco: #fff;
    --tituloAmraelo: #f7a518;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: x-large;
}
header {
    background-color: var(--corPrincipal);
    color: var(--textoBranco);
    font-size: x-large;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    padding: 15px 30px;
}
header img {
    grid-column: 4 / 5; 
    width: 150px;
    height: auto;
}
nav {
    grid-column: 7 / 13; 
}
nav ul {
    list-style: none;
    display: flex;
    gap: 100px; 
}
nav ul li {
    color: var(--textoBranco);  
}
.botao{
    text-decoration: none;
    border-radius: 20px;
    background-color: var(--textoBranco);
    color: var(--corPrincipal);
}
#final{
    display: grid;
    background-color: var(--corPrincipal);
    color: var(--textoBranco);
    padding: 60px 30px;
    grid-template-columns: repeat(12, 1fr);
    font-size: x-large;
}
#final img{
    grid-column: 9/13;
}
#final h1{
    grid-column: 4 / 9;
    margin-bottom: 30px;
    color: var(--tituloAmraelo);
}
#final p{
    grid-column: 4 / 9;
}
#final button{
    grid-column: 4 / 9;
    border-radius: 30px;
    width: 100px;
    background-color: var(--tituloAmraelo);
    color: var(--textoBranco);
    height: 50px;
}
#final button{
    
}
